.div-container{
  border-radius: 0.75rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 0.5rem;
  padding: 0.5rem;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: 0.5s ease-out;
  }
  
  .image {
    height: 350px;
    width: 500px;
    margin: 0.75rem;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    transition: 0.5s ease-out;
  }
  
  .control-wrapper {
    margin-top: -230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    
  }
  
  .btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 999999;
  }
  
  .image-count {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 200px;
    height: 100px;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    overflow: hidden;
  }
  
  .image-count > div {
    flex-shrink: 0;
    height: 7px;
    width: 40px;
    background-color: #919191;
    transition: transform 0.5s ease-out;
  }
  
  .image-count-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 6rem;
  }
  
  .highlighted-div {
    background-color: var(--primary-500) !important; /* TODO var(--primary) */
  }
  
  .prev-btn {
    margin: 0.75rem;
    justify-items: flex-start;
  }
  
  .next-btn {
    margin: 0.75rem;
    justify-content: flex-end;
  }
  
  .arrow-button {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
  }
  
  .arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 0.75rem;
    justify-content: flex-end;
    margin-right: 1.75rem;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin: 0.75rem;
    justify-items: flex-start;
    margin-left: 1rem;
  }
  